<style>
    .no-drag {
        -webkit-app-region: no-drag;
    }


    .to-drag {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }

    .position-fixed{
        position: fixed;
        width: 100%;
        z-index: 837834343545;
    }
</style>

<header class="navbar navbar-expand-md navbar-light d-print-none to-drag position-fixed">



    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                @* <img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image"> *@
                ClassCreator
            </a>
        </h1>



        <div class="navbar-nav flex-row order-md-last">


            <div class="nav-item d-none d-md-flex no-drag">
                <div class="btn-list">
                    <ExitApplication />
                </div>
            </div>

           
        </div>

        <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                <ul class="navbar-nav no-grag">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle no-grag" href="#navbar-base" data-bs-toggle="dropdown"
                            role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>
                                    <line x1="12" y1="12" x2="20" y2="7.5"></line>
                                    <line x1="12" y1="12" x2="12" y2="21"></line>
                                    <line x1="12" y1="12" x2="4" y2="7.5"></line>
                                    <line x1="16" y1="5.25" x2="8" y2="9.75"></line>
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Interface
                            </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="./empty.html">
                                        Empty page
                                    </a>
                                    <a class="dropdown-item" href="./accordion.html">
                                        Accordion
                                    </a>
                                    <a class="dropdown-item" href="./blank.html">
                                        Blank page
                                    </a>
                                    <a class="dropdown-item" href="./buttons.html">
                                        Buttons
                                    </a>
                                    <a class="dropdown-item" href="./cards.html">
                                        Cards
                                    </a>
                                    <a class="dropdown-item" href="./cards-masonry.html">
                                        Cards Masonry
                                    </a>
                                    <a class="dropdown-item" href="./colors.html">
                                        Colors
                                    </a>
                                    <a class="dropdown-item" href="./dropdowns.html">
                                        Dropdowns
                                    </a>
                                    <a class="dropdown-item" href="./icons.html">
                                        Icons
                                    </a>
                                    <a class="dropdown-item" href="./modals.html">
                                        Modals
                                    </a>
                                    <a class="dropdown-item" href="./maps.html">
                                        Maps
                                    </a>
                                    <a class="dropdown-item" href="./map-fullsize.html">
                                        Map fullsize
                                    </a>
                                    <a class="dropdown-item" href="./maps-vector.html">
                                        Vector maps
                                    </a>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>